body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.details-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #161617;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  animation: fadeIn 0.5s ease-in-out;
  color: #ffffff; /* Белый цвет текста */
}

.details-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.details-section {
  margin-bottom: 15px;
}

.details-section strong {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.details-back {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
  font-size: 14px;
}

.details-back:hover {
  text-decoration: underline;
}

.master-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.home-button {
  display: block;
  width: fit-content;
  margin-bottom: 15px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: #0088cc;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 20px;
  left: 0;
  z-index: 10;
  transition: transform 0.3s ease;
}
