body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.details-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #161617;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  animation: fadeInCard 0.4s ease-out;
  color: #ffffff;
}

@keyframes fadeInCard {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.details-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.details-section {
  margin-bottom: 15px;
}

.details-section strong {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.master-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.home-button-wrapper {
  position: sticky;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 0;
  margin-bottom: 20px;
}

.home-button-wrapper::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8.5%;
  background-color: rgba(68, 68, 68, 0.6);
  backdrop-filter: blur(10px);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.home-button-wrapper.active::before {
  opacity: 1;
}

.home-button {
  display: block;
  width: fit-content;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: #0088cc;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease;
}

