body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
}

.details-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #161617;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  animation: fadeInCard 0.4s ease-out;
}

@keyframes fadeInCard {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.details-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.details-section {
  margin-bottom: 15px;
}

.details-section strong {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.master-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.home-button-wrapper {
  position: relative;
  margin-bottom: 20px;
<<<<<<< HEAD
=======
  transition: all 0.3s ease;
>>>>>>> b2eb512d94f336e32a13be19e94ee58b88d656fa
}

.home-button-wrapper.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(68, 68, 68, 0.6);
<<<<<<< HEAD
  backdrop-filter: blur(6px);
  z-index: 1000;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.5s ease; /* used animation when to start fixed wapper zone */
=======
  backdrop-filter: blur(10px);
  z-index: 1000;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
>>>>>>> b2eb512d94f336e32a13be19e94ee58b88d656fa
}

.home-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: #0088cc;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
<<<<<<< HEAD
  transition: all 0.5s ease; /* maybe use keyFrames for nornal animation*/
=======
  transition: transform 0.3s ease, background-color 0.3s ease, margin-top 0.3s ease;
>>>>>>> b2eb512d94f336e32a13be19e94ee58b88d656fa
}

.home-button-wrapper.fixed .home-button {
  margin-left: 10px;
}

.home-button:hover {
  background-color: #3399ff;
}

@media (max-width: 767px) {
  .home-button-wrapper.fixed {
    top: 0;
    padding: 8px 0;
  }

  .home-button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

